#blogr {
  ul {
    list-style: none;
    // _______________________________ aft 600< li displayed as none but ul still is there
    // background-color: red;
    // height: 5rem;
    // ___________________________________

    li {
      padding: 1rem;
      cursor: pointer;
      button {
        cursor: pointer;
      }
    }
  }
  position: relative;
  #blogr-header {
    // ______
    width: 100%;
    position: absolute;
    margin-top: 2rem;
    // background: red;
    #blogr-navigation {
      //   background: yellow;
      padding: 0.5rem;
      #nav-division {
        @include flexi;
        justify-content: space-between;
        #left-nav {
          //*********________________SUBMENU DROPDOWN _________________

          .sub-menus {
            visibility: hidden;
            margin-top: 2rem;
            border-radius: 0.5rem;
            padding: 2rem 0.5rem;
            position: absolute;
            background-color: white;
            box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);

            li {
              color: black;

              &:hover {
                font-weight: bold;
              }
            }
          }

          @include flexv;
          //   background: green;
          .nav-menu:hover > .sub-menus {
            visibility: visible;
          }

          .nav-menu {
            padding: 5rem;
            // background-color: red;
          }

          li {
            color: white;
            margin: 0.2rem 2rem;
            font-size: 1.4rem;
            @include media('<=1100px') {
              display: none;
            }
          }
          .logo {
            @include media('<=1100px') {
              display: block;
            }
            font-size: 5rem;
          }
        }
        #right-nav {
          @include media('<=1100px') {
            display: none;
          }
          @include flexv;
          //   background: blue;
          li {
            margin: 0.2rem 2rem;
            font-size: 2.1rem;
          }
        }
      }
    }
  }
}
// "login" as menu
.nav-menu {
  color: white;
  &:hover {
    text-decoration: underline;
  }
}

.header-signup-btn {
  color: rgb(255, 89, 96);
  &:hover {
    background: rgb(254, 124, 134);
    color: white;
  }
}
