@font-face {
  font-family: 'roboto_300';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto_400';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto_500';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'roboto_600';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
