// ___________________________________FIRST DIVISION____________________________________

#fistDivision {
  background-image: url('../../assets/firstDivision/bg-pattern-intro.svg');
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 8rem;
}
#firstDivision-inner-wrapper {
  border-bottom-left-radius: 8rem;
  // +++++++++++++++
  padding-top: 20rem;
  padding-bottom: 20rem;
  @include media('<=600px') {
    padding-bottom: 10rem;
  }
  background: linear-gradient(
    90deg,
    rgba(255, 133, 110, 0.9) 21%,
    rgba(255, 83, 93, 0.9) 77%
  );

  h2 {
    font-weight: 500;
    color: white;
    font-size: 7.5rem;
    text-align: center;
    @include media('<=675px') {
      font-size: 6.5rem;
    }
    @include media('<=535px') {
      font-size: 4.5rem;
    }
  }
  p {
    color: white;
    margin-top: 1.5rem;
    font-size: 2rem;
    text-align: center;
  }

  #firstDivision-btn-container-division {
    display: flex;
    margin-top: 2.5rem;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
    button {
      margin: 2rem;
      font-size: 2.1rem;
    }
  }
}

.learn-more-btn {
  &:hover {
    background: white;
    color: rgb(255, 89, 96);
  }
}

// ______________________________________________SECOND DIVISION
#secondDivision-title {
  position: relative;
  div {
    position: absolute;
    top: 10rem;
    font-size: 2.6rem;
    // background-color: red;
    width: 100%;
    text-align: center;
  }
}
#secondDivision {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 25rem;
  margin-top: 5rem;
  // background-color: lightblue;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  #left-division {
    padding-top: 25rem;
    h2 {
      font-size: 3.3rem;
      text-align: right;
      // background-color: red;
    }
    h3 {
      @include media('<=600px') {
        text-align: center;
      }
      color: rgb(87, 89, 113);

      font-size: 1.8rem;
      // background-color: blue;
    }
    h3:nth-child(3) {
      margin-top: 5rem;
    }
    p {
      width: 45rem;

      color: #a9a9a9;
      line-height: 2.5rem;
      margin-top: 2rem;
      font-size: 1.5rem;
      // background-color: green;
      @include media('<=826px') {
        font-size: 1.7rem;
        line-height: 2.7rem;
      }
      @include media('<=600px') {
        text-align: center;
      }
    }
    display: flex;
    flex-direction: column;
  }
  // background-color: lightcoral;

  #right-division {
    img {
      margin-top: 5rem;
      @include media('>=890px') {
        position: absolute;
        right: -25rem !important;
      }

      height: 70rem !important;
      @include media('<=940px') {
        height: 60rem !important;
      }
      @include media('<=550px') {
        height: 40rem;
      }
      @include media('<=540px') {
        height: 35rem !important;
      }
    }
  }
}
// _________________________SECOND LAST DIVISION

#secondLastDivision {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 25rem;
  margin-top: 5rem;
  // background-color: lightblue;

  display: flex;

  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  // ???flex-direction: row-reverse; --remove it
  #left-division {
    padding-top: 25rem;
    h2 {
      font-size: 3.3rem;
      text-align: right;
      // background-color: red;
    }
    h3 {
      @include media('<=600px') {
        text-align: center;
      }
      color: rgb(87, 89, 113);
      font-size: 1.9rem;
      // background-color: blue;
    }
    h3:nth-child(3) {
      margin-top: 5rem;
    }
    p {
      width: 45rem;

      color: #a9a9a9;
      line-height: 2.5rem;
      margin-top: 2rem;
      font-size: 1.4rem;
      // background-color: green;
      @include media('<=826px') {
        font-size: 1.7rem;
        line-height: 2.7rem;
      }
      @include media('<=600px') {
        text-align: center;
      }
    }
    display: flex;
    flex-direction: column;
  }
  // background-color: lightcoral;

  #right-division {
    img {
      margin-top: 5rem;
      @include media('>=890px') {
        position: absolute;
        // ????right: -15rem !important; ---add it and remove below line
        left: -25rem !important;
      }

      height: 70rem !important;
      @include media('<=940px') {
        height: 60rem !important;
      }
      @include media('<=550px') {
        height: 40rem;
      }
      @include media('<=540px') {
        height: 35rem !important;
      }
    }
  }
}
// ________________________________________________HAMBURGER

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

[id^='btn']:checked + ul {
  display: block;
}

#nav-division {
  position: relative;
}

.hamburger {
  z-index: 10000;
  right: 0;
  position: absolute;

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  width: 90%;
  line-height: 40px;
  padding: 8px 25px;
  border-radius: 5px;
  label {
    // *_____COLOR
    color: #575971;
    font-size: 22px;
    font-weight: 500;
    display: block;
    cursor: pointer;
  }
  .button span {
    float: right;
    line-height: 40px;
    transition: 0.5s;
  }
  .button span.rotate {
    transform: rotate(-180deg);
  }
  ul {
    position: absolute;
    background: white;
    list-style: none;
    top: 75px;
    right: 0;
    width: 100%;

    border-radius: 5px;
    display: none;
  }
  .menu {
    box-shadow: 0px 0px 25px 1px rgba(169, 138, 138, 0.5);
  }
  // ___PIVOT Mountain above .hamburger ___________
  .menu:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background: transparent;
    right: 20px;
    top: -10px;
    transform: rotate(45deg);
    z-index: -1;
  }
  ul li {
    line-height: 40px;
    padding: 8px 20px;
    cursor: pointer;
  }
  ul li label {
    text-align: center;
    font-size: 18px;
  }
  ul li a {
    text-align: center;
    // *____COLOR
    color: #575971;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }
  ul li a:hover,
  ul li label:hover {
    //todo: ______COLOR CHANGE ON HOVER
    color: rgb(255, 97, 98);
  }
  ul li span.rotate {
    transform: rotate(-180deg);
  }
  input {
    display: none;
  }
  ul li span {
    position: absolute;
    color: rgb(255, 97, 98);

    font-size: 20px;
    float: right;
    margin-top: 10px;
    padding: 0 20px;
    transition: 0.5s;
  }
  ul ul li a {
    //? _____OPENED MENUS COLOR ________
    color: grey;
    font-size: 16px;
  }
  ul ul li {
    line-height: 30px;
    padding-left: 30px;
  }
  @include media('>=1100px') {
    display: none;
  }
  @include media('<=1100px') {
    display: block;
  }
  ul ul {
    //??????___________________________inner menu box______________
    background: rgb(243, 242, 242);
    padding: 3rem 0rem;
    border-bottom: none;
    position: static;
    margin: 2rem 0rem;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    background: rgb(208, 207, 207);
    height: 0.05rem;
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .center-btn-container {
    display: flex;
    justify-content: center;
    button {
      font-size: 1.9rem;
      margin-top: 2rem;
      margin-bottom: 5rem;
      border-radius: 3rem;
      padding: 2rem 5rem;
      color: white;
      background: linear-gradient(
        90deg,
        rgba(255, 133, 110, 0.9) 21%,
        rgba(255, 83, 93, 0.9) 77%
      );
    }
  }
}

#lines-container {
  div {
    height: 0.3rem;
    background-color: white;
    margin: 0.7rem 0rem;
    width: 3rem;
  }
}

#beginning-of-oppagamnam-style {
  margin-top: 3.5rem;
}
#hamburger-login-btn {
  color: rgb(87, 89, 113);
  text-align: center;
  font-size: 19px;
}
// !__FIX
#blogr ul li {
  padding: 1rem 4rem;
}
// ____________________EASIEST DIVISION

//* _________________________THIRD DIVISION
#thirdDivision {
  height: 30rem;

  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  background-color: #303145;
  @include media('<=940px') {
    display: none !important;
  }
  padding-right: 10rem;
  display: flex;
  position: relative;
  justify-content: space-between;
  #left-division {
    overflow: hidden;
    // background-color: red;
    position: relative;
    width: 60rem;
    #bg-circle-pattern-d3 {
      position: absolute;
      left: -10rem;
      top: -23rem;
      height: 200%;
    }
  }
  #phone-illustration-d3 {
    position: absolute;
    z-index: 1000;
    left: 10rem;
    top: -6rem;
    height: 170%;
  }
  #right-division {
    // background-color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: 2.9rem;
      color: white;
    }
    p {
      width: 45rem;

      color: rgb(201, 201, 201);
      line-height: 2.9rem;
      margin-top: 2rem;
      font-size: 1.4rem;
    }
    position: relative;
    // background-color: blue;
  }
}
//! _________________________THIRD DIVISION MOBILE FIRST
#thirdDivision-mobile-first {
  height: 45rem;
  @include media('>=940px') {
    display: none !important;
  }
  padding-top: 5rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 15rem;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  margin-top: 5rem;
  background-color: #303145;
  padding-right: 10rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  #left-division {
    transform: translateX(-50%);
    margin-left: 50%;
    // background-color: red;
    position: relative;
    width: 100%;
    #bg-circle-pattern-d3 {
      @include media('<=415px') {
        height: 130%;
        left: -15rem;
      }
      position: absolute;
      left: -19rem;
      top: -15rem;
      height: 150%;
    }
  }
  #phone-illustration-d3 {
    position: absolute;
    z-index: 1000;
    top: -15rem;
    left: -5rem;
    height: 120%;
    @include media('<=415px') {
      height: 100%;
    }
  }
  #right-division {
    h2 {
      text-align: center;
      font-size: 3.8rem;
      color: white;
    }
    p {
      margin-left: 50%;
      transform: translateX(-50%);
      width: 50%;

      @include media('<=660px') {
        width: 80%;
      }
      text-align: center;
      color: rgb(201, 201, 201);

      line-height: 3.2rem;
      margin-top: 2rem;
      font-size: 1.6rem;
    }

    position: relative;
    // background-color: blue;
  }
}
